<footer class="footer ">
    <div class="container">
      <div class="row">
        
        <!-- College Info & Logo -->
        <div class="col-lg-4 col-md-6 footer-col">
          <a href="http://adit.ac.in/">
            <img src="/img/adit logo.png" alt="ADIT Logo" class="footer-logo">
          </a>
          <p class="footer-text">
            A.D. Patel Institute of Technology <br> 
            New Vallabh Vidyanagar, Gujarat, India
          </p>
        </div>
  
        <!-- Quick Links -->
        <div class="col-lg-4 col-md-6 footer-col">
          <h5>Quick Links</h5>
          <ul class="footer-links">
            <li><a href="/home">Home</a></li>
            <li><a href="http://adit.ac.in/about.html">About Us</a></li>
            <li><a href="http://adit.ac.in/departments.html">Departments</a></li>
            <li><a href="http://adit.ac.in/admission.html">Admissions</a></li>
            <li><a href="http://adit.ac.in/contact.html">Contact</a></li>
          </ul>
        </div>
  
        <!-- Contact & Social Media -->
        <div class="col-lg-4 col-md-12 footer-col">
          <h5>Contact Us</h5>
          <p>INSTITUTE EMAIL: <a href="mailto:info@adit.ac.in">info@adit.ac.in</a></p>
          <p>PRINCIPAL EMAIL: <a href="mailto:principal@adit.ac.in">principal@adit.ac.in</a></p>
          <p>Phone: +91-2692-233680</p>
          <p>A.D.Patel Institute Of Technology New Vallabh Vidhyanagar, Post Box:-52
            Vitthal Udyognagar-388121
            Dist:-Anand(Gujarat) India
           </p>
          
        </div>
  
      </div>
  
      <!-- Bottom Footer -->
      <div class="footer-bottom">
        <p>© 2025 ADIT | Designed by <strong>Shrey Shah</strong>&nbsp;<strong>Om Patel</strong>&nbsp;<strong>Nisarg Patel</strong></p>
      </div>
      <div class="social-icons">
        <a href="https://www.facebook.com/adit.cvmuniversity/"><i class="fa-brands fa-facebook"></i></i></a>
      
        <a href="https://www.instagram.com/adit_cvmuniversity/?hl=en"><i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/school/adit_cvmuniversity/?originalSubdomain=in"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </footer>
  